@model ICollection<HikingPlanAndRescue.Web.Areas.Private.Models.Tracks.TrackViewModel>

@{
    ViewBag.Title = "My tracks";
}

<h2>My tracks</h2>

@foreach (var track in Model)
{
    @Html.Partial("_Track")
}                                                                                                                                                                                                                                                                                     