@model IEnumerable<HikingPlanAndRescue.Web.ViewModels.Trainings.TrainingCheckedInListItemViewModel>

@{
    ViewBag.Title = "Checked-In Trainings";

    ViewBag.AjaxPagingAction = "AjaxLoadNextTrainings";
    ViewBag.AjaxPagingArea = "";
    Layout = "~/Views/Shared/_LayoutGridAjaxPaging.cshtml";
}

<div class="text-center page-header">
    <h1>
        @ViewBag.Title
        <br />
        <small id="clock">
        </small>
    </h1>
</div>

<div id="items-list" class="row container">
    @Html.Partial("_CheckedInTrainingsList", Model)
</div>

@section Scripts {
    <script>
        function updateTime(){
            var currentTime = new Date();
            var day = currentTime.getDate();
            var month = currentTime.getMonth() + 1;
            var year = currentTime.getFullYear();

            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var sec = currentTime.getSeconds();

            if (minutes < 10){
                minutes = "0" + minutes
            }
            if (sec < 10) {
                sec = "0" + sec;
            }
            var t_str = day + "/" + month + "/" + year + " " + hours + ":" + minutes + ":" + sec + " ";

            if(hours > 11){
                t_str += "PM";
            } else {
                t_str += "AM";
            }
            t_str += " (Local Time)";
            document.getElementById('clock').innerHTML = t_str;
        }
        setInterval(updateTime, 1000);
    </script>
}