@model IQueryable<HikingPlanAndRescue.Web.Areas.Admin.Models.Trainings.TrainingViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Admin Trainings";
}

@section Styles {
    @Styles.Render("~/Content/gridmvc")
}

<h2>Users Administrator</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(foo => foo.Title).Titled("FirstName").SetWidth(110);
    columns.Add(foo => foo.StartDate).Sortable(true);
    columns.Add(foo => foo.User.FirstName).Sortable(true);
}).WithPaging(3)


@section Scripts{
    @Scripts.Render("~/bundles/gridmvc")
}