@model HikingPlanAndRescue.Web.Areas.Private.Models.TrainingListItemViewModel

<h3>@Model.Title</h3>
<p class="lead">Track title: @Model.TrackTitle</p>
<p class="info">(Length: @Html.DisplayFor(x => x.TrackLength) km)</p>