@model IEnumerable<HikingPlanAndRescue.Web.Areas.Private.Models.TrainingListItemViewModel>

@foreach (var training in Model)
{
    <div class="col-md-3 list-group-item">
        @Html.Partial("_TrainingListItem", training)
    </div>
}