@model IEnumerable<HikingPlanAndRescue.Web.Areas.Private.Models.TrainingListItemViewModel>

@{
    ViewBag.Title = "My Trainings";
    ViewBag.Page = 0;
}

<div id="ajaxMessage" class="alert alert-info" style="display:none"></div>

<p>
    @Html.ActionLink("Add", "create", "trainings", null, new { @class = "btn btn-primary btn-lg" })
</p>

<h2>My Trainings</h2>

<div id="trainings-list" class="row container">
    @Html.Partial("_TrainingsList", Model)
</div>

<div class="row container" id="loading" style="display: none">
    <div class="alert alert-info text-center">Loading...</div>
</div>

<div class="row container">
    @Ajax.ActionLink("Load Older...", "AjaxLoadNextTrainings", new { area = "private", page = 0 },
    new AjaxOptions
    {
        UpdateTargetId = "trainings-list",
        LoadingElementId = "loading",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.InsertAfter,
        OnSuccess = "onLoadMoreTrainingsSuccess",
        OnBegin = "onLoadMoreTrainingsBegin"
    }, new { @class = "btn btn-info btn-lg btn-block", id = "loadMoreTrainings" })
</div>

<div class="modal fade" id="error-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p id="modalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var nextPage = 1;
        var ajaxMessage = $('#ajaxMessage');
        ajaxMessage.hide();

        var loadMoreTrainingsBtn = jQuery('#loadMoreTrainings');
        loadMoreTrainingsBtn.on('click', function () {
            console.log(nextPage);
            var hrefString = loadMoreTrainingsBtn.attr('href').replace('page=' + (nextPage - 1), 'page=' + nextPage);
            console.log(hrefString);
            loadMoreTrainingsBtn.attr('href', hrefString);
            nextPage++;
        });

        function onLoadMoreTrainingsSuccess(data) {
            console.log("This is the OnSuccessCallback: " + data);
            if (!data) {
                loadMoreTrainingsBtn.disabled = true;
                loadMoreTrainingsBtn.text('No more');
            }

            loadMoreTrainingsBtn.show();
        }

        function onLoadMoreTrainingsBegin() {
            loadMoreTrainingsBtn.hide();
        }

        function onWatchSuccess(data) {
            console.log(data);
            if (data.error) {
                $('#modalMessage').html(data.error);
                $('#error-modal').modal();
            }

            $('#' + data.id).html(data.data);

            //if (data.CheckedOutOn) {
            //    window.location.href = '/private/trainings/edit/' + data.Id;
            //}
        }

    </script>
}
