@model IEnumerable<HikingPlanAndRescue.Web.Areas.Private.Models.TrainingListItemViewModel>

@{
    ViewBag.Title = "My Trainings";

    ViewBag.AjaxPagingAction = "AjaxLoadNextTrainings";
    ViewBag.AjaxPagingArea = "private";
    Layout = "~/Views/Shared/_LayoutGridAjaxPaging.cshtml";
}

<p>
    @Html.ActionLink("Add", "create", "trainings", null, new { @class = "btn btn-primary btn-lg" })
</p>

<h2>My Trainings</h2>

<div id="items-list" class="row container">
    @Html.Partial("_TrainingsList", Model)
</div>

@Html.Partial("_Modal")

@section Scripts {
    <script id="ajax-checkin">
        function onWatchSuccess(data) {
            if (data.error) {
                $('#modalTitle').html('Error');
                $('#modalMessage').html(data.error);
                $('#modal').modal();
            }

            $('#' + data.id).html(data.data);
        }
    </script>
}
