@model IEnumerable<HikingPlanAndRescue.Web.ViewModels.Tracks.TrackPublicViewModel>

<h1>Most popular tracks</h1>

@foreach (var item in Model)
{
    <div class="col-md-3">
        <h3>@item.Title</h3>
        <p>@item.Author</p>
    </div>
}